h1{
    font-weight: bold;
    margin:15px;
    text-align: center;
}

.rt{
    /* border-left:1px gray solid; */
}

#matrixCode{
    background-color:gray;
    min-height: 200px;
    margin-top:15px;
    color:white;
    display: block;
    padding: 15px;
}

.pallete-colors{
    margin-top: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    color:white;
}

.pallete-colors:first-of-type{
    border: 1px solid #dedddd;
    color:black;
}

.btn.btn-outline-primary{
    margin-top:5px;
}

.active-color{
    box-shadow: 2px 2px 2px #4a4646;
}


#credits{
    margin-top:25px;
    text-align: center;
}

.specials{
    box-shadow: 2px 2px 2px grey;
    margin:0px 5px 8px 0px;
    height: 90px;
    cursor: pointer;
    opacity: 0.5;
}

.specials:hover, .specials-active{
    opacity: 1;
}